div.link-container {
    --margin-vertical-offset: calc(var(--default-font-size) * 0.35);
    --margin-horizontal-offset: calc(var(--default-font-size) * 0.75);
    display: inline-block;
    border-radius: 4px;
    padding: var(--margin-vertical-offset) var(--margin-horizontal-offset) var(--margin-vertical-offset)
        var(--margin-horizontal-offset);
    margin: calc(-1 * var(--margin-vertical-offset)) calc(-1 * var(--margin-horizontal-offset))
        calc(-1 * var(--margin-vertical-offset)) calc(-1 * var(--margin-horizontal-offset));
    &:hover {
        background-color: var(--color-link-hover-background);
        & > a {
            color: var(--color-link-hover-foreground);
        }
    }
    & > a {
        color: var(--color-link);
    }
}
