div.link-container {
    display: inline-block;
    padding: calc(1.5rem - 14px) 0.5rem calc(1.5rem - 14px) 0.5rem;
    border-radius: 7px;
    &:hover {
        background-color: var(--color-link-hover-background);
        & > a {
            color: var(--color-link-hover-foreground);
        }
    }
    & > a {
        color: var(--color-link);
    }
}
