@mixin icon-button($size: 38px) {
    cursor: pointer;
    width: $size;
    height: $size;
    text-align: center;
    line-height: $size;
    border-radius: $size * 0.15;
}

@mixin box-button($width, $height) {
    cursor: pointer;
    width: $width;
    height: $height;
    padding: ($width + $height) / 2 * 0.10;
    text-align: center;
    border-radius: ($width + $height) / 2 * 0.10;
}