@mixin centered-page($gutter: 10ch) {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--measure);
    padding-left: $gutter;
    padding-right: $gutter;
}

@mixin page-padding {
    padding-top: var(--vertical-offset);
    padding-bottom: var(--vertical-offset);
}
