@mixin theme(
    $foreground,
    $background,
    $link,
    $link-hover-fg,
    $link-hover-bg,
    $prominent-bg,
    $logo-url,
    $logo-url-active
) {
    --color-foreground: $foreground;
    --color-background: $background;
    --color-link: $link;
    --color-link-hover-foreground: $link-hover-fg;
    --color-link-hover-background: $link-hover-bg;
    --color-prominent-background: $prominent-bg;

    background-image: url("/static/noise.png");
    background-color: $background;
    color: $foreground;
    a {
        color: $link;
    }
    a:hover {
        background-color: $link-hover-bg;
        color: $link-hover-fg;
    }
    .icon-button:hover {
        background-color: $link-hover-bg;
        color: $link-hover-fg;
    }
    .logo-container {
        content: url($logo-url);
        &:hover {
            content: url($logo-url-active);
            background-color: $link-hover-bg;
        }
    }

    // TODO this should be moved somewhere else
    // Background color of the sidebar
    .with-sidebar > * > :first-child {
        background-image: none;
        background-color: $prominent-bg;
    }
}
