body {
    --wide-zeilenabstand: calc(var(--default-font-size) * 1.85);
    --default-zeilenabstand: calc(var(--default-font-size) * 1.25);
    font-family: var(--copy-font);
    font-weight: var(--default-copy-font-weight);
    font-style: normal;
    font-size: var(--default-font-size);
    -webkit-font-smoothing: antialiased;

    line-height: var(--default-zeilenabstand);
    p {
        line-height: var(--wide-zeilenabstand);
        word-spacing: calc(var(--default-font-size) * 0.0975);
        margin-bottom: calc(var(--default-font-size) * 1.75);
        &:last-of-type {
            margin-bottom: auto;
        }
    }
}
