@use "buttons";
@use "layout" as *;
@use "typography" as *;
@import "normalize.css/normalize";
@import "@fortawesome/fontawesome-free/css/all";

:root {
    --copy-font: aktiv-grotesk, sans-serif;
    --mono-font: ibm-plex-mono, monospace;
    --default-font-size: 14pt;
    --default-mono-size: 10pt;

    --vertical-offset: 14pt;
    --measure: 70ch;
    --sidebar-measure: 37ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    background-image: url("/static/noise-heavy.png");
    background-color: var(--color-background);
    color: var(--color-foreground);
    overflow-y: scroll; /* Show vertical scrollbar */
}

body.dark {
    --color-foreground: #beb7b3;
    --color-background: #25282a;
    --color-link: #74d1ea;
    --color-link-hover-foreground: #fdda00;
    --color-link-hover-background: #f8f12a10;
    --color-prominent-background: #222526;
    --color-prominent-highlight: #1f2223;
    --color-activated: #00c08b;
    --default-mono-font-weight: 300;
    --default-copy-font-weight: 300;
    --bold-mono-font-weight: 400;
    --bold-copy-font-weight: 500;
    letter-spacing: 0.104pt;
}

body.light {
    --color-foreground: #000006;
    --color-background: #ffffff;
    --color-link: #001ca7;
    --color-link-hover-foreground: #4e4a34;
    --color-link-hover-background: #f8f12a60;
    --color-prominent-background: #f0f0f0;
    --color-prominent-highlight: #dedede;
    --color-activated: #00754a;
    --default-mono-font-weight: 400;
    --default-copy-font-weight: 400;
    --bold-mono-font-weight: 600;
    --bold-copy-font-weight: 700;
    letter-spacing: 0pt;
}

a.no-href {
    cursor: pointer;
}

section.centered {
    @include centered-page();
}

.full-height {
    min-height: 100vh;
}

table {
    width: 100%;
    margin-bottom: var(--default-zeilenabstand);
    tr {
        height: calc(1.5 * var(--default-zeilenabstand));
        th,
        td {
            background-color: var(--color-prominent-background);
            font-size: calc(0.85 * var(--default-font-size));
            vertical-align: top;
            padding-top: calc(0.45 * var(--default-font-size));
            padding-bottom: calc(0.45 * var(--default-font-size));
        }
        th {
            text-align: left;
            padding-left: calc(0.45 * var(--default-font-size));
            padding-right: calc(0.65 * var(--default-font-size));
            width: auto;
        }
        td {
            padding-left: calc(0.45 * var(--default-font-size));
            padding-right: calc(0.45 * var(--default-font-size));
        }
    }
}

main > {
    .with-sidebar > * > :first-child {
        background-image: none;
        background-color: var(--color-prominent-background);
    }
}

table:last-of-type {
    margin-bottom: auto;
}

button.icon {
    @include buttons.icon-button();
}
