.drop-zone {
    --dropzone-height: 40vh;
    background-color: var(--color-prominent-highlight);
    border-radius: var(--default-border-radius);
    background-image: url("/static/noise-super-heavy.png");
    width: 100%;
    height: var(--dropzone-height);
    box-shadow: inset 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
}

.drop-zone:hover {
    background-color: var(--color-link-hover-background);
}

.drop-zone .empty-message {
    line-height: var(--dropzone-height);
    text-align: center;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--default-font-size) * 2.5);
    letter-spacing: -0.25pt;
    color: var(--color-prominent-highlight-foreground);
}

.drop-zone:hover .empty-message {
    color: var(--color-link-hover-foreground);
}

.drop-zone.is-active {
    background-color: var(--color-activated);
    border-radius: var(--default-border-radius);
    background-image: url("/static/noise-super-heavy.png");
    width: 100%;
    height: var(--dropzone-height);
}

.drop-zone.is-active .empty-message {
    color: var(--color-activated-foreground);
}
